@model Sotis2.Models.DTO.TestQuestionAnswerDTO

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@for (int i = 0; i < Model.QuestionsDTO.Count(); i++)
{

}


<form asp-action="AddAnsware" method="post">
    <div id="editorRows">
        @using (Html.BeginForm())
        {

            <div class="form-group">
                <label asp-for="@Model.TestDuration" class="control-label"></label>
                <input asp-for="@Model.TestDuration" class="form-control" />
                <span asp-validation-for="@Model.TestDuration" class="text-danger"></span>
            </div>

            <br />
            <label>Questions: </label>

            <br />
            <select class="form-control" asp-for="@Model.QuestionsDTO" name="Subjects">
                @for (int i = 0; i < @Model.QuestionsDTO.Count; i++)
                {
                    <br />
                    <div class="form-group">
                        <label asp-for="@Model.QuestionsDTO[i].QuestionText" class="control-label"></label>
                        <input asp-for="@Model.QuestionsDTO[i].QuestionText" class="form-control" />
                        <span asp-validation-for="@Model.QuestionsDTO[i].QuestionText" class="text-danger"></span>
                    </div>

                    @for (int j = 0; j < @Model.QuestionsDTO[i].AnswaresDTO.Count; j++)
                    {
                        <partial name="_AnswareEditor" model="Model.QuestionsDTO[i].AnswaresDTO[j]" />
                    }
                    <!--<a id="addItem_" + i asp-action="BlankAnsware" asp-controller="Questions">Add Answare...</a>-->
                    <a id="addItem_" + @i class="intro"   asp-action="BlankAnsware" asp-controller="Questions">Add Answare...</a>
                    <br />
                }

            </select>
            <br />
            <a>Add Question</a>
        }
    </div>
        
    <br />
    <input type="submit" id="submit" value="Finished" />
</form>

@section scripts {
    <script>
        $("#submit").click(function (e) {
            e.preventDefault();
            var formData = new FormData();

            $("input[name='AnswareText']").each(function (i) {
                var AnswareText = $(this).val();
                formData.append("Answares[" + i + "].AnswareText", AnswareText);

            });
            $("input[name='IsItTrue']").each(function (i) {
                var IsItTrue = $(this).val();
                formData.append("Answares[" + i + "].IsItTrue", IsItTrue);

            });

            $("input[name='ID']").each(function (i) {
                var ID = $(this).val();
                formData.append("ID", ID);

            });

            $("input[name='QuestionText']").each(function (i) {
                var QuestionText = $(this).val();
                formData.append("QuestionText", QuestionText);

            });

            $("input[name='Subjects']").each(function (i) {
                var Subjects = $(this).val();
                formData.append("Subjects[" + i + "].Text", Subjects);

            });

            $.ajax({
                method: 'post',
                url: "AddAnsware",
                data: formData,
                processData: false,
                contentType: false,
                success: function () {

                }
            });

        });

        //_" + nextindex
        /*
        $("#addItem").click(function () {
            $.ajax({
                url: this.href,
                cache: false,
                success: function (html) { $("#editorRows").append(html); }
            });
            return false;
        });

        $("a.deleteRow").on("click", function () {
            $(this).parents("div.editorRow:first").remove();
            return false;
        });*/

        $("#addItem").click(function () {

            // Finding total number of elements added
            var total_element = $(".element").length;

            // last <div> with element class id
            var lastid = $(".element:last").attr("id");
            var split_id = lastid.split("_");
            var nextindex = Number(split_id[1]) + 1;
            console.log(total_element);
            console.log(nextindex);

            var max = 5;
            // Check total number elements
            if (total_element < max) {
                // Adding new div container after last occurance of element class
                $(".element:last").after("<div class='element' id='div_" + nextindex + "'></div>");

                // Adding element to <div>
                $("#div_" + nextindex).append("<input type='text' placeholder='Enter your skill' id='txt_" + nextindex + "'>&nbsp;<span id='remove_" + nextindex + "' class='remove'>X</span>");

            }
        });

        $(".intro").click(function () {
            var a = $("this").attr("id");
            console.log(event.target.id);
            alert(event.target.id)
        });
    </script>
}