@model Sotis2.Models.DTO.TestQuestionAnswerDTO

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Test</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestDuration)
        </dd>
    </dl>
</div>

    @foreach (var item in Model.qWA)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionText)
            </td>
        </tr>
        @foreach (var itema in item.Answares)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => itema.AnswareText)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => itema.IsItTrue)
                </td>
            </tr>

        }
        <br />
    }
    <a asp-action="Index">Back to List</a>
